<!doctype html>
<title>{% block title %}Brigid{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head><meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="300">
</head>
<nav>
  <h1>Brigid</h1>
  
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>